/* Main container styling */
.main-container {
  min-height: 100vh;
  background-color: lightgray;
  background-image: url('./src/background.png'); /* Ensure path is correct */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Heading styling */
h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Form group styling */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Label styling */
label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

/* Dropdown select styling */
select {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* MacOS font */
}

/* Button styling */
.assign-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: green;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* MacOS font */
}

/* Button hover effect */
.assign-button:hover {
  background-color: darkgreen;
}
